#container{
	/*background: grey;*/
	width: 360px;
	margin: 0 auto;
	border: 1px solid black;
	text-align: center;
}

.completed{
	color: gray;
	text-decoration: line-through;
}

li{
	border: 2px solid black;
	list-style: none;
	/*margin: 0;*/
}

span{
	border: 2px solid red;
	border-radius: 50%;
}

